<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc_test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc_test.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Saba Imnadze</a>
                
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style=" position: relative;
   <!-- background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); -->
    height: 130%; margin-bottom: 0vh" class="border-top footer text-muted">
        <div class="container">
           links: <br />
           <div style="display: flex; flex-direction: row; justify-content: space-evenly">
               <a style="color: gray" href="https://github.com/saba-24">GitHub</a>
               <a style="color: gray" href="https://www.linkedin.com/in/saba-imnadze-475a03331/">LinkedIn</a>
           </div>
        </div>
    </footer> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
